.footer{
    margin-left: 8rem;
}
.main-part{
    display: flex;
    justify-content: space-between;
    background-color: #1c1c1c;
    padding:4rem;
}

.footer-heading{
    font-size: 2.5rem;
    font-weight: 300;
    color:goldenrod;
    margin: 1rem 0 3rem 0;
}
.footer-list{
    list-style: none;
    padding:0;
}
.footer-list-item{
    margin-bottom: 2rem;

}
.footer-list-link{
    font-size: 1.4rem;
    text-decoration: none;
    color:#bbb;
}

.contact p{
    font-size:1.5rem;
    color:#bbb;
}
.footer-form{
    display: flex;

}

.footer-input{
    width:25rem;
    padding:1rem;
    font-family: 'Josefin Sans',sans-serif;
    font-size: 1.8rem;
    color: #444;
    outline: none;
}

.footer-btn{
    padding:1rem;
    background-color: #b85d1c;
    color:#ddd;
    border:none;
}

.creator-part{
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #111;
    padding: 0 4rem;
}
.copyright-text{
    font-size: 1.5rem;
    color: #aaa;

}

.text-right{
    font-size: 1.4rem;
    color:#bbb;
}
.icon{
    font-size: 2rem;
    margin:.5rem;
    color:tomato
}
.text-right span{
    color:gold;
}
@media(max-width:1000px){
    .main-part{
        flex-direction: column;
        
    }
    .footer-list{
        display: flex;
    }
    .footer-list-item{
        margin-right: 3rem;
    }
}

@media(max-width:700px){
.footer-list{
    display: flex;
    flex-direction:column;
    justify-content: space-between
}
}
  