.header {
  margin-left: 8rem;
  height: 100vh;
  background: linear-gradient(to top,rgba(0,0,0,.6),rgba(0,0,0,.5)),
    url(./images/adult-app-developer-coding-1181244.jpg) center no-repeat;
  background-size: cover;
}

.brand{
    display: flex;
    cursor: pointer;
}
 
.site-heading{
    font-family: 'Josefin Sans',sans-serif;
    font-size: 2.5rem;
    font-weight: 400;
    letter-spacing: .2rem;
    color: #dea886;
    margin-top: 2.5rem;
}

.logo{
    margin-top:1rem;
    margin-left: 3.5rem;
    margin-right: 2rem;
}
.banner{
    color:#ddd;
    height:65rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.banner-heading{
    font-family: 'Josefin Sans',sans-serif;
    font-size: 7rem;
    font-weight: 400;
    margin-bottom: 0;
    animation: anim 2s;
}

.banner-paragraph{
    font-size:3.5rem;
    font-weight:300;
    animation: anim 1.5s .5s backwards;
}
.banner-button{
    width:21rem;
    padding:1.2rem 2rem;
    font-size: 2rem;
    color:#333;
    letter-spacing: .1rem;
    border:none;
    border-radius:10rem;
    outline: none;
    background: linear-gradient(to right,gold,goldenrod);
    cursor: pointer;  
    animation: anim 1s 1s backwards;

}
.banner-button:hover{
    background: linear-gradient(to left,gold,goldenrod);
}
.banner-button:active{

    transform: translateY(.2rem)
}

@keyframes anim{
    0%{
        opacity: 0;
    }
    100%{
        opacity: 1;
    }
}

@media(max-width:1000px){
    .banner-heading{
        color:red;
    }
}
@media(max-width:900px){
    .banner{
        text-align: center;
    }
    .banner-heading{
        font-size:4.7rem;
    }
}